@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
body {
  margin: 0px;
  font-family: "Droid Sans", sans-serif;
  background-color: #303030;
  color: #ffffff;
}
h1, h2, h3 {
  color: #cc5079;
}
.content {
  margin: 5px;
  padding: 3px;
}
.sidebar {
  align: left;
  background-color: #242424;
  color: white;
  border-top: 1px white;
  min-width: 170px;
  max-width: 170px;
  height: 100%;
  text-transform: uppercase;
  border-right: 1px solid #ffffff;
}
.sidebar ul {
  list-style: none;
  float: left;
  padding-left: 10px;
}
.sidebar a {
  color: #cc5079;
}
#currentview {
  float: left;
  color: #ffffff;
  max-width: 170px;
  margin-left: 5px;
  margin-top: 10px;
}
.selector{
  float:right;
  border-left:3px solid black;
}
.composition_selector{
  width:100px;
  height:100px;
}
.logo-wrapper {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #ffffff;
  background-color: #242424;
}
.logo {
  text-align: center;
}
.navbar-wrapper {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ffffff;
  background-color: #242424;
}
.navbar {
  float: left;
  color: #cc5079;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.navbar ul {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.navbar ul li {
  display: inline;
  margin-right: 15px;
}
.navbar ul li:hover {
  background-color: #5c005a;
}
.navbar ul li a:visited, .navbar ul li a {
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  color: #cc5079;
  padding-bottom: 10px;
  text-decoration: none;
}
.selected {
  text-transform: capitalize;
  text-decoration: underline; 
}
#image {
  float: right;
  position: static;
}
#picarea {
  width: 600px;
  height: 450px;
  display: none;
}
#next {
  display: none;
}
